---
import '../styles/global.css';
const pageTitle = "Página de inicio ";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../../public/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
			h1 {
				color: purple;
				font-size: 4rem;
			}
		</style>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Sobre mi</a>
		<a href="/blog/">Blog</a>
		<h1>Astro Tutorial</h1>
	</body>
</html>
